<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="clients" value="C:\Users\Lenovo\source\repos\Railway Software\Railway Software\bin\Debug\clients.txt"/>
	</appSettings>
</configuration>
